<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.ms.taojin.user.mapper.UserMapper">

	<!-- 结果Map -->
	<resultMap id="BaseResultMap" type="com.ms.taojin.user.entity.UserEntity">
		<result property="userId" jdbcType="INTEGER" column="f_user_id"/>
		<result property="loginName" jdbcType="VARCHAR" column="f_login_name"/>
		<result property="password" jdbcType="VARCHAR" column="f_password"/>
		<result property="nickName" jdbcType="VARCHAR" column="f_nick_name"/>
		<result property="mobile" jdbcType="CHAR" column="f_mobile"/>
		<result property="identityCard" jdbcType="CHAR" column="f_identity_card"/>
		<result property="status" jdbcType="TINYINT" column="f_status"/>
		<result property="sysId" jdbcType="VARCHAR" column="f_sys_id"/>
		<result property="typeId" jdbcType="VARCHAR" column="f_type_id"/>
		<result property="typeCode" jdbcType="VARCHAR" column="f_type_code"/>
		<result property="lastLoginTime" jdbcType="TIMESTAMP" column="f_last_login_time"/>
		<result property="loginFaildTimes" jdbcType="INTEGER" column="f_login_faild_times"/>
		<result property="oldPasswords" jdbcType="VARCHAR" column="f_old_passwords"/>
		<result property="editPwdTime" jdbcType="TIMESTAMP" column="f_edit_pwd_time"/>
		<result property="filePath" jdbcType="VARCHAR" column="f_file_path"/>
		<result property="createdPersonId" jdbcType="INTEGER" column="f_created_person_id"/>
		<result property="createdPersonName" jdbcType="VARCHAR" column="f_created_person_name"/>
		<result property="createdDate" jdbcType="TIMESTAMP" column="f_created_date"/>
	</resultMap>
	
	<!-- 查询列 -->
	<sql id="BaseColumnList">
		f_user_id,f_login_name,f_password,f_nick_name,f_mobile,f_identity_card,f_status,f_sys_id,f_type_id,f_type_code,f_last_login_time,f_login_faild_times,f_old_passwords,f_edit_pwd_time,f_file_path,f_created_person_id,f_created_person_name,f_created_date
	</sql>
	
			
	<!--创建记录 -->
	<insert id="create" parameterType="com.ms.taojin.user.entity.UserEntity" useGeneratedKeys="true" keyProperty="userId">
		INSERT INTO t_center_user
		<trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="userId!=null">f_user_id,</if>
			<if test="loginName!=null">f_login_name,</if>
			<if test="password!=null">f_password,</if>
			<if test="nickName!=null">f_nick_name,</if>
			<if test="mobile!=null">f_mobile,</if>
			<if test="identityCard!=null">f_identity_card,</if>
			<if test="status!=null">f_status,</if>
			<if test="sysId!=null">f_sys_id,</if>
			<if test="typeId!=null">f_type_id,</if>
			<if test="typeCode!=null">f_type_code,</if>
			<if test="lastLoginTime!=null">f_last_login_time,</if>
			<if test="loginFaildTimes!=null">f_login_faild_times,</if>
			<if test="oldPasswords!=null">f_old_passwords,</if>
			<if test="editPwdTime!=null">f_edit_pwd_time,</if>
			<if test="filePath!=null">f_file_path,</if>
			<if test="createdPersonId!=null">f_created_person_id,</if>
			<if test="createdPersonName!=null">f_created_person_name,</if>
			<if test="createdDate!=null">f_created_date</if>
		</trim>
		<trim prefix="VALUES (" suffix=")" suffixOverrides="," >
			<if test="userId!=null">#{userId,jdbcType=INTEGER},</if>
			<if test="loginName!=null">#{loginName,jdbcType=VARCHAR},</if>
			<if test="password!=null">#{password,jdbcType=VARCHAR},</if>
			<if test="nickName!=null">#{nickName,jdbcType=VARCHAR},</if>
			<if test="mobile!=null">#{mobile,jdbcType=CHAR},</if>
			<if test="identityCard!=null">#{identityCard,jdbcType=CHAR},</if>
			<if test="status!=null">#{status,jdbcType=TINYINT},</if>
			<if test="sysId!=null">#{sysId,jdbcType=VARCHAR},</if>
			<if test="typeId!=null">#{typeId,jdbcType=VARCHAR},</if>
			<if test="typeCode!=null">#{typeCode,jdbcType=VARCHAR},</if>
			<if test="lastLoginTime!=null">#{lastLoginTime,jdbcType=TIMESTAMP},</if>
			<if test="loginFaildTimes!=null">#{loginFaildTimes,jdbcType=INTEGER},</if>
			<if test="oldPasswords!=null">#{oldPasswords,jdbcType=VARCHAR},</if>
			<if test="editPwdTime!=null">#{editPwdTime,jdbcType=TIMESTAMP},</if>
			<if test="filePath!=null">#{filePath,jdbcType=VARCHAR},</if>
			<if test="createdPersonId!=null">#{createdPersonId,jdbcType=INTEGER},</if>
			<if test="createdPersonName!=null">#{createdPersonName,jdbcType=VARCHAR},</if>
			<if test="createdDate!=null">#{createdDate,jdbcType=TIMESTAMP}</if>
		</trim>
	</insert>

	<!--批量创建记录 -->
	<insert id="batchSave" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="userId" >
		INSERT INTO t_center_user
		<trim prefix="(" suffix=")" suffixOverrides=",">
			f_user_id,
			f_login_name,
			f_password,
			f_nick_name,
			f_mobile,
			f_identity_card,
			f_status,
			f_sys_id,
			f_type_id,
			f_type_code,
			f_last_login_time,
			f_login_faild_times,
			f_old_passwords,
			f_edit_pwd_time,
			f_file_path,
			f_created_person_id,
			f_created_person_name,
			f_created_date
		</trim>
		VALUES
		<foreach collection="list" item="item" index="index" separator=",">
		(
			#{item.userId,jdbcType=INTEGER},
			#{item.loginName,jdbcType=VARCHAR},
			#{item.password,jdbcType=VARCHAR},
			#{item.nickName,jdbcType=VARCHAR},
			#{item.mobile,jdbcType=CHAR},
			#{item.identityCard,jdbcType=CHAR},
			#{item.status,jdbcType=TINYINT},
			#{item.sysId,jdbcType=VARCHAR},
			#{item.typeId,jdbcType=VARCHAR},
			#{item.typeCode,jdbcType=VARCHAR},
			#{item.lastLoginTime,jdbcType=TIMESTAMP},
			#{item.loginFaildTimes,jdbcType=INTEGER},
			#{item.oldPasswords,jdbcType=VARCHAR},
			#{item.editPwdTime,jdbcType=TIMESTAMP},
			#{item.filePath,jdbcType=VARCHAR},
			#{item.createdPersonId,jdbcType=INTEGER},
			#{item.createdPersonName,jdbcType=VARCHAR},
			#{item.createdDate,jdbcType=TIMESTAMP}
		)
		</foreach>
	</insert>
	
	<!-- 更新记录 -->
	<update id="update" parameterType="com.ms.taojin.user.entity.UserEntity">
		UPDATE t_center_user 
		<set>
			<if test="loginName!=null">f_login_name = #{loginName,jdbcType=VARCHAR},</if>
			<if test="password!=null">f_password = #{password,jdbcType=VARCHAR},</if>
			<if test="nickName!=null">f_nick_name = #{nickName,jdbcType=VARCHAR},</if>
			<if test="mobile!=null">f_mobile = #{mobile,jdbcType=CHAR},</if>
			<if test="identityCard!=null">f_identity_card = #{identityCard,jdbcType=CHAR},</if>
			<if test="status!=null">f_status = #{status,jdbcType=TINYINT},</if>
			<if test="sysId!=null">f_sys_id = #{sysId,jdbcType=VARCHAR},</if>
			<if test="typeId!=null">f_type_id = #{typeId,jdbcType=VARCHAR},</if>
			<if test="typeCode!=null">f_type_code = #{typeCode,jdbcType=VARCHAR},</if>
			<if test="lastLoginTime!=null">f_last_login_time = #{lastLoginTime,jdbcType=TIMESTAMP},</if>
			<if test="loginFaildTimes!=null">f_login_faild_times = #{loginFaildTimes,jdbcType=INTEGER},</if>
			<if test="oldPasswords!=null">f_old_passwords = #{oldPasswords,jdbcType=VARCHAR},</if>
			<if test="editPwdTime!=null">f_edit_pwd_time = #{editPwdTime,jdbcType=TIMESTAMP},</if>
			<if test="filePath!=null">f_file_path = #{filePath,jdbcType=VARCHAR},</if>
			<if test="createdPersonId!=null">f_created_person_id = #{createdPersonId,jdbcType=INTEGER},</if>
			<if test="createdPersonName!=null">f_created_person_name = #{createdPersonName,jdbcType=VARCHAR},</if>
			<if test="createdDate!=null">f_created_date = #{createdDate,jdbcType=TIMESTAMP}</if>
		</set>
		<where> 
			f_user_id  = #{userId}
		</where>				
	</update>
	
	<!--批量更新记录 -->
	<update id="batchUpdate" parameterType="java.util.List">
		<foreach collection="list" item="item" index="index" separator=";">
			UPDATE t_center_user 
			<set>
				<if test="item.loginName!=null">f_login_name = #{item.loginName,jdbcType=VARCHAR},</if>
				<if test="item.password!=null">f_password = #{item.password,jdbcType=VARCHAR},</if>
				<if test="item.nickName!=null">f_nick_name = #{item.nickName,jdbcType=VARCHAR},</if>
				<if test="item.mobile!=null">f_mobile = #{item.mobile,jdbcType=CHAR},</if>
				<if test="item.identityCard!=null">f_identity_card = #{item.identityCard,jdbcType=CHAR},</if>
				<if test="item.status!=null">f_status = #{item.status,jdbcType=TINYINT},</if>
				<if test="item.sysId!=null">f_sys_id = #{item.sysId,jdbcType=VARCHAR},</if>
				<if test="item.typeId!=null">f_type_id = #{item.typeId,jdbcType=VARCHAR},</if>
				<if test="item.typeCode!=null">f_type_code = #{item.typeCode,jdbcType=VARCHAR},</if>
				<if test="item.lastLoginTime!=null">f_last_login_time = #{item.lastLoginTime,jdbcType=TIMESTAMP},</if>
				<if test="item.loginFaildTimes!=null">f_login_faild_times = #{item.loginFaildTimes,jdbcType=INTEGER},</if>
				<if test="item.oldPasswords!=null">f_old_passwords = #{item.oldPasswords,jdbcType=VARCHAR},</if>
				<if test="item.editPwdTime!=null">f_edit_pwd_time = #{item.editPwdTime,jdbcType=TIMESTAMP},</if>
				<if test="item.filePath!=null">f_file_path = #{item.filePath,jdbcType=VARCHAR},</if>
				<if test="item.createdPersonId!=null">f_created_person_id = #{item.createdPersonId,jdbcType=INTEGER},</if>
				<if test="item.createdPersonName!=null">f_created_person_name = #{item.createdPersonName,jdbcType=VARCHAR},</if>
				<if test="item.createdDate!=null">f_created_date = #{item.createdDate,jdbcType=TIMESTAMP}</if>
			</set>
			<where> 
				f_user_id  = #{item.userId}
			</where>	
		</foreach>
	</update>	
	
	<!-- 按ID查询记录 -->
	<select id="queryById" parameterType="long" resultMap="BaseResultMap">
		SELECT <include refid="BaseColumnList" />
		FROM t_center_user 
		WHERE f_user_id  = #{userId}	
	</select>
	
	<!-- 按Id删除 -->
	<delete id="deleteById" parameterType="long">
		DELETE FROM t_center_user WHERE f_user_id != 0 and f_user_id  = #{userId}
	</delete>

	<!-- 按Id批量删除 -->
	<delete id="batchDeleteById" parameterType="Long[]">
		DELETE FROM t_center_user WHERE f_user_id != 0 and f_user_id in (
		<foreach collection="array" item="item" separator=",">
			#{item}
		</foreach>
		)
	</delete>
	
	
	<sql id="where">
		<where>
			1=1
			<if test="userId!=null">AND t.f_user_id = #{userId,jdbcType=INTEGER}</if>
			<if test="loginName!=null and loginName!=''">AND t.f_login_name = #{loginName,jdbcType=VARCHAR}</if>
			<if test="password!=null and password!=''">AND t.f_password = #{password,jdbcType=VARCHAR}</if>
			<if test="nickName!=null and nickName!=''">AND t.f_nick_name = #{nickName,jdbcType=VARCHAR}</if>
			<if test="mobile!=null">AND t.f_mobile = #{mobile,jdbcType=CHAR}</if>
			<if test="identityCard!=null">AND t.f_identity_card = #{identityCard,jdbcType=CHAR}</if>
			<if test="status!=null">AND t.f_status = #{status,jdbcType=TINYINT}</if>
			<if test="sysId!=null and sysId!=''">AND t.f_sys_id = #{sysId,jdbcType=VARCHAR}</if>
			<if test="typeId!=null and typeId!=''">AND t.f_type_id = #{typeId,jdbcType=VARCHAR}</if>
			<if test="typeCode!=null and typeCode!=''">AND t.f_type_code = #{typeCode,jdbcType=VARCHAR}</if>
			<if test="lastLoginTime!=null">AND t.f_last_login_time = #{lastLoginTime,jdbcType=TIMESTAMP}</if>
			<if test="loginFaildTimes!=null">AND t.f_login_faild_times = #{loginFaildTimes,jdbcType=INTEGER}</if>
			<if test="oldPasswords!=null and oldPasswords!=''">AND t.f_old_passwords = #{oldPasswords,jdbcType=VARCHAR}</if>
			<if test="editPwdTime!=null">AND t.f_edit_pwd_time = #{editPwdTime,jdbcType=TIMESTAMP}</if>
			<if test="filePath!=null and filePath!=''">AND t.f_file_path = #{filePath,jdbcType=VARCHAR}</if>
			<if test="createdPersonId!=null">AND t.f_created_person_id = #{createdPersonId,jdbcType=INTEGER}</if>
			<if test="createdPersonName!=null and createdPersonName!=''">AND t.f_created_person_name = #{createdPersonName,jdbcType=VARCHAR}</if>
			<if test="createdDate!=null">AND t.f_created_date = #{createdDate,jdbcType=TIMESTAMP}</if>
		</where>
	</sql>
	
	<sql id="queryFrom">
		FROM t_center_user
	</sql>
	<!-- 查询Where语句 -->
	<sql id="whereForLike">
		<where>
			f_user_id != 0
			<if test="whereCondition!=null">
				<if test="whereCondition.userId!=null">AND t.f_user_id = #{whereCondition.userId,jdbcType=INTEGER}</if>
				<if test="whereCondition.loginName!=null and whereCondition.loginName!=''">AND t.f_login_name like #{whereCondition.loginNameByLike,jdbcType=VARCHAR}</if>
				<if test="whereCondition.password!=null and whereCondition.password!=''">AND t.f_password like #{whereCondition.passwordByLike,jdbcType=VARCHAR}</if>
				<if test="whereCondition.nickName!=null and whereCondition.nickName!=''">AND t.f_nick_name like #{whereCondition.nickNameByLike,jdbcType=VARCHAR}</if>
				<if test="whereCondition.mobile!=null">AND t.f_mobile = #{whereCondition.mobile,jdbcType=CHAR}</if>
				<if test="whereCondition.identityCard!=null">AND t.f_identity_card = #{whereCondition.identityCard,jdbcType=CHAR}</if>
				<if test="whereCondition.status!=null">AND t.f_status = #{whereCondition.status,jdbcType=TINYINT}</if>
				<if test="whereCondition.sysId!=null and whereCondition.sysId!=''">AND (t.f_sys_id like #{whereCondition.sysIdByLike,jdbcType=VARCHAR} or f_sys_id='0')</if>
				<if test="whereCondition.typeId!=null and whereCondition.typeId!=''">AND t.f_type_id like #{whereCondition.typeIdByLike,jdbcType=VARCHAR}</if>
				<if test="whereCondition.typeCode!=null">AND t.f_type_code like #{whereCondition.typeCodeByLike,jdbcType=VARCHAR}</if>
				<if test="whereCondition.lastLoginTime!=null">AND t.f_last_login_time = #{whereCondition.lastLoginTime,jdbcType=TIMESTAMP}</if>
				<if test="whereCondition.loginFaildTimes!=null">AND t.f_login_faild_times = #{whereCondition.loginFaildTimes,jdbcType=INTEGER}</if>
				<if test="whereCondition.oldPasswords!=null and whereCondition.oldPasswords!=''">AND t.f_old_passwords like #{whereCondition.oldPasswordsByLike,jdbcType=VARCHAR}</if>
				<if test="whereCondition.editPwdTime!=null">AND t.f_edit_pwd_time = #{whereCondition.editPwdTime,jdbcType=TIMESTAMP}</if>
				<if test="whereCondition.filePath!=null and whereCondition.filePath!=''">AND t.f_file_path like #{whereCondition.filePathByLike,jdbcType=VARCHAR}</if>
				<if test="whereCondition.createdPersonId!=null">AND t.f_created_person_id = #{whereCondition.createdPersonId,jdbcType=INTEGER}</if>
				<if test="whereCondition.createdPersonName!=null and whereCondition.createdPersonName!=''">AND t.f_created_person_name like #{whereCondition.createdPersonNameByLike,jdbcType=VARCHAR}</if>
				<if test="whereCondition.createdDate!=null">AND t.f_created_date = #{whereCondition.createdDate,jdbcType=TIMESTAMP}</if>
			</if>
			<if test="keyWord!=null and keyWord!=''">
				AND (
						t.f_login_name like #{keyWordByLike,jdbcType=VARCHAR}  OR 
						t.f_password like #{keyWordByLike,jdbcType=VARCHAR}  OR 
						t.f_nick_name like #{keyWordByLike,jdbcType=VARCHAR}  OR 
						t.f_sys_id like #{keyWordByLike,jdbcType=VARCHAR}  OR 
						t.f_type_id like #{keyWordByLike,jdbcType=VARCHAR}  OR 
						t.f_type_code like #{keyWordByLike,jdbcType=VARCHAR}  OR 
						t.f_old_passwords like #{keyWordByLike,jdbcType=VARCHAR}  OR 
						t.f_file_path like #{keyWordByLike,jdbcType=VARCHAR}  OR 
						t.f_created_person_name like #{keyWordByLike,jdbcType=VARCHAR} 
					)
			</if>
			<if test="startTime!=null and startTime!=''">AND t.f_created_date &gt;= #{startTime}</if>
			<if test="endTime!=null and endTime!=''">AND t.f_created_date &lt;= #{endTime}</if>
		</where>
	</sql>
	
	<!-- 按对象查询 -->
	<select id="queryByEntity" parameterType="com.ms.taojin.user.entity.UserEntity" resultMap="BaseResultMap">
		SELECT <include refid="BaseColumnList" />
		<include refid="queryFrom" /> t
		<include refid="where" />
	</select>
	
	<!-- 分页查询 -->
	<select id="queryByPage" parameterType="com.ms.taojin.common.vo.ListVo.ListReqVO"
		resultMap="BaseResultMap">
		SELECT
		<include refid="BaseColumnList" />
		<include refid="queryFrom" /> t
		<include refid="whereForLike" />
		<choose>
			<when test="orderField==null">
				ORDER BY f_user_id DESC
			</when>
			<otherwise>
				ORDER BY ${orderField}
			</otherwise>
		</choose>
	</select>


	<!-- 查询记录数 -->
	<select id="queryCount" resultType="int"
		parameterType="com.ms.taojin.common.vo.ListVo.ListReqVO">
		SELECT COUNT(1)  
		<include refid="queryFrom" /> t
		<include refid="whereForLike" />
	</select>
</mapper>

